{% extends 'base.html.twig' %}

{% block title %}Nuevo usuario{% endblock %}

{% block body %}

    <div class="container">
        <h3>Editar usuario</h3>
        {% include 'usuario/_formulario.html.twig' with
            {'accion' : path('editar_usuario_get', { 'id' : usuario.id}),
                'btn_form' : 'Editar' ,
                modo : modo } %}
    </div>

{% endblock %}