{% extends 'base.html.twig' %}

{% block title %}Nosotros{% endblock %}
{% block body %}
    <div class="container rounded contenedor p-3">
        <div>
            <h1>Que es Buy-m3?</h1>
            <hr>
            <p class="text-justify">Buy-m3 es un market place donde los usuarios deben registarse
            para vender sus productos y a su vez comprar productos de otros vendedores.
            Todos los visitantes podran visualizar los productos pero no podran
            comprar ni vender ninguno sin registrarse</p>
        </div>

    </div>
{% endblock %}
